.trash {
    width: 28px;
}

.container-products-order {
    display: flex;
    align-items: center;
    justify-content: space-around
}

.container-add-order {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-add-order {
    margin: 1rem;
    font-size: 14px;
    color: #632626;
    font-weight: bold;
    background: #DACC96;
    padding: 1rem;
    border-radius: 0.5rem;
}

.btn-counter {
    display: flex;
    flex-direction: inherit;
}

.order-product-name {
    max-width: 40%;
}

.style-order {
    margin: 0.5rem 1rem;
}

.btn-trash {
    background: 0;
    border: 0;
}

.btn-max-min {
    border: none;
    border-radius: 0.5rem;
    background: #632626;
    color: #FFFFFF;
    max-width: 35%;
}

.btn-max-min:disabled {
    background: #dfdfdf;
    color: black;
}

.title-order {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    width: 100%;

}

.container-tabler {
    width: 100%;
}